*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.metamorphous-regular {
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 10px;
  }
  

html{
    font-size: 62.5%;
}


.container-texto{
    margin: 2px;
}


h1{
    font-size: 6rem;
    margin: 2px;
    
    
}

p{
    font-size: 3rem;
}

a{
    color: black;
    font-size: 1.5rem;
    margin-right: 20px;
    margin-left: 10px;
}

.logo{
    display: flex;
}



.background-div {
    margin-top: 100px;
    width: 100%;
    height: 300vh; /* Altura desejada */
    background-image: url(wooden-background.jpg); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Para cobrir toda a área da div */
    background-position: center; /* Centraliza a imagem */
    
  }



.cuias{
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
}

.cuias > div{
    margin: 30px 40px;
    border-radius: 15px 15px 0px 0px;
    background-size: cover;
    width: 20vw;
    height: 100%;
    position: relative;
    
}

.cuia1{
    background-image: url(cui2.jpg);
 
}

.cuia2{
    background-image: url(cuia3.jpg);
  
}

.cuia3{
    background-image: url(cuia4.jpg);

}



.bombas{
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
}


.bombas > div{
    margin-top: 35vh;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px 15px 0px 0px;
    background-size: cover;
    width: 20vw;
    height: 100%;
    position: relative;
    
}

.bomba1{
    background-image: url(bosnia.jpg);
}

.bomba2{
    background-image: url(bosnia.jpg);
}

.bomba3{
    background-image: url(bosnia.jpg);  
}


.borda-produto{
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: rgb(48, 24, 6);
    position: absolute;
    bottom: -14vh;
    width: 20vw;
    height: 15vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.texto-produto{
    margin-top: 1vh;
   
}


.texto-produto hr{
    width: 15vw;
   margin: 0 auto;
}


.bombas > div{
    background-size: cover;
    width: 20vw;
    height: 100%;
    position: relative;
}
