
.flex{
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slider {
    width: 100%;
    height: 60vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    position: relative;
    
}

.slider-container{
   position: relative;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.slider li {
    list-style: none;
    position: absolute;
    top: 0;
    left: 1px;
    right: 1px;
    right: 0;
    width: 100%;
    height: 100%;
}

.slider img {
   
    margin: ;
    height: 100%;
    width: 100%;
    vertical-align: top;
    object-fit: cover;
}

.slider input {
    display: none;
}

.slider label {
    background-color:;
    color: white;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
   font-size: 50px;
    z-index: 1;
}

.slider li:nth-child(1) label {
    bottom: 50%;
    left: 10px;
}

.slider li:nth-child(2) label {
    bottom: 50%;
    right: 10px;
}



.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}




@media(max-width: 700px) {
    .slider{
             width: 100vw;
             height: 20vh;
             display: flex;
             justify-content: center;
             background-size: cover;
            
           
         } 

         .background-div{
            margin: 0;
         }

    .slider-container{
        display: flex;
        justify-content: center;
        max-width: 100%;
        
    }
    

.slider li:nth-child(1) label {
    bottom: 50%;
    left: -10px;
}

.slider li:nth-child(2) label {
    bottom: 50%;
    right: 10px;
}



 }
